.container {
    width: min(100% - 100px, 1340px);
    margin-inline: auto;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    height: 50px;
}

.table-first {
    width: 75%;
    margin: auto;
}

.table-first td {
    width: 33.33%;
    height: 50px;
    text-align: center;
}

.table-first .tall-cell {
    height: 200px;
}

/* -----second table---------- */
.second-table {
    width: 100%;
    border-collapse: collapse;
}

.wide-cell {
    width: 60%;
}

.thin-cell {
    width: 28%;
}

.nested {
    width: 80%;
    margin: 10px auto;
}

.nested td {
    height: 50px;
    width: 33.33%;
}

.nested .tall-cell {
    height: 250px;
}

.nested .middle-cell {
    height: 200px;
}