h1 {
    color: blueviolet;
}

.container {
    width: min(100% - 100px, 1340px);
    margin-inline: auto;
}

table {
    margin: auto;
    width: 500px;
    height: 500px;
    background-color: rgb(20, 20, 20);
    border-radius: 2px;
}

td {
    border: 3px solid rgb(20, 20, 20);
    border-radius: 4px;
    margin: 0;
    padding: 0;
    height: 50px;
    width: 50px;
}

.short-cell {
    height: 25px;
}

.thin-cell {
    width: 25px;
}

.red {
    background-color: rgb(236, 39, 39);
}

.yellow {
    background-color: #f4f260;
}

.blue {
    background-color: darkblue;
}

.white {
    background-color: white;
}